{% extends "base_generic_content.html" %}

{% block head_ext %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
{% endblock %}

{% block content %}
<h1>Остатки товаров</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-11 ">
            <canvas id="bar-chart" height="{{ canvas_height }}"></canvas>
        </div>
    </div>
</div>

<script >
    Chart.defaults.global.defaultFontColor = 'black';
    Chart.defaults.global.defaultFontSize = 16;

    new Chart(document.getElementById("bar-chart"), {
        type: 'horizontalBar',
        data: {
          labels: [
          {% for s_caption, n_qty, id_level in remains_list %}
            "{{ s_caption }}",
          {% endfor %}
          ],
          datasets: [
            {
              label: "Материал",
              backgroundColor: [
              {% for s_caption, n_qty, id_level in remains_list %}
                {% if id_level is not None %}
                  "{{ id_level.s_color }}",
                {% else %}
                  "#3e95cd",
                {% endif %}
              {% endfor %}
              ],
              data: [
             {% for s_caption, n_qty, id_level in remains_list %}
                "{{ n_qty }}",
              {% endfor %}
              ]
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: false,
          },
          animation: {
            duration: 0
          },
        }
});

</script>
{% endblock %}