{% extends "base_generic.html" %}

{% block title %}<title>Накладные</title>{% endblock %}

{% block content %}
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Тип</th>
                <th>Дата</th>
                <th>Состояние</th>
            </tr>
        </thead>
        <tbody>

        {% if object_list %}


            {% for object in object_list %}
                <tr>
                    {% if object.n_direction == 1 %}<td class="success">Приходная</td>{% else %}<td>Расходная</td>{% endif %}
                    <td>{{ object.d_create_date }}</td>
                    <td {% if object.s_state != "300" %}class="warning"{% endif %}>{{ object.get_s_state_display}}</td>
                </tr>
            {% endfor %}

        {% endif %}

        </tbody>
    </table>

{% endblock %}