{% extends "base_generic_content.html" %}

{% block title %}<title>Накладные</title>{% endblock %}

{% block content %}
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button id="btnGroupCreate" type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Создать
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupCreate">
                <a class="dropdown-item" href="{% url "stk_acts_new_in" %}">Приходная накладная</a>
                <a class="dropdown-item" href="{% url "stk_acts_new_out" %}">Расходная накладная</a>
            </div>
        </div>
    </div>

    <table class="table table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th>Тип</th>
                <th>Дата</th>
                <th>Состояние</th>
            </tr>
        </thead>
        <tbody>

        {% if object_list %}

            {% for object in object_list %}
                <tr class="grid-row" data-id="{{ object.id }}">
                    {% if object.n_direction == 1 %}<td class="table-success">Приходная</td>{% else %}<td>Расходная</td>{% endif %}
                    <td><a href="{{ object.get_absolute_url }}">{{ object.d_create_date }}</a></td>
                    <td {% if object.s_state != "300" %}class="table-warning"{% endif %}>{{ object.get_s_state_display}}</td>
                </tr>
            {% endfor %}

        {% endif %}

        </tbody>
    </table>
{% endblock %}
