{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% block title %}<title>Накладные</title>{% endblock %}

{% block content %}


    <div class="container">


        <div class="card">
            <div class="card-header">{% if form.instance.n_direction == 1 %}Приходная{% else %}Расходная{% endif %} накладная от {{ form.instance.d_create_date }}</div>
            <div class="card-body">
                <form action="/your-name/" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <br/><br/>
                    <div class="card-header">Позиции</div>

                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Тмц</th>
                                    <th>Кол-во</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for det_form in det_form_set %}
                                <tr class="grid-row">
                                {% for det_field in det_form %}
                                    {% if not det_field.is_hidden %}
                                        <td>{% bootstrap_field det_field show_label=False%}</td>
                                    {% endif %}
                                {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    {% buttons submit='Сохранить' %}{% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
