{% extends "base_generic_content.html" %}

{% block head_ext %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Тмц');
        data.addColumn('number', 'Кол-во');
        data.addRows([
          {% for good, qty in remains_list %}
            ['{{ good }}', {{ qty }}],
          {% endfor %}
        ]);


        // Set chart options
        var options = {
            width: 600,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
            fontSize: 16,
          };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

{% endblock %}

{% block content %}
<h1>Остатки товаров</h1>
    <div id="chart_div"></div>
{% endblock %}